!!!
%html
  %head
    %title NSW Companion Pet Registry API
    %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css", :media => "screen"}
    %link{:rel => "stylesheet", :href => "/css/typography.css", :type => "text/css", :media => "screen"}
    %link{:rel => "stylesheet", :href => "/css/style.css", :type => "text/css", :media => "screen"}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', :type => 'text/javascript'}
  %body
    %header
      .container
        %h1 NSW Companion Pet Registry API
    %section#content
      .container
        %nav
          %h2 Table of Contents
          %ol
            %li
              %a{:href => '#intro'} Lorem ipsum dolor sit
            %li
              %a{:href => '#querying'} Lorem ipsum dolor sit
            %li
              %a{:href => '#examples'} Lorem ipsum dolor sit
        %section#intro
          %h2 Introduction
          Welcome to the New South Wales Companion Pet Registry API.  
        %section#querying
          %h2 Querying
          
          
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %section#examples
          %h2 Examples
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.