!!!
%html
  %head
    %title NSW Companion Pet Registry API
    %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css", :media => "screen"}
    %link{:rel => "stylesheet", :href => "/css/typography.css", :type => "text/css", :media => "screen"}
    %link{:rel => "stylesheet", :href => "/css/style.css", :type => "text/css", :media => "screen"}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', :type => 'text/javascript'}
  %body
    %header
      .container
        %h1 NSW Companion Pet Registry API
    %section#content
      .container
        %nav
          %h2 Table of Contents
          %ol
            %li
              %a{:href => '#intro'} Lorem ipsum dolor sit
            %li
              %a{:href => '#querying'} Lorem ipsum dolor sit
            %li
              %a{:href => '#examples'} Lorem ipsum dolor sit
        %section#intro
          %h2 Introduction
          %p Welcome to the New South Wales Companion Animal Register API.  This API was built for the apps4nsw developer day at the Powerhouse Museum.  We hope this API will enable interested developers to easily access local pet data to build interesting applications.
          %p All the data on this page is in JSON so you can build your own web applications over the top of this API.
        %section#examples
          %h2 Examples
          %h3 Names
          %p You can access the NSW Companion Animal Register to find the most popular dog and cat names in the state of New South Wales, over the past 10 years.
          %h4 Example: Top 40 Dog names
          %pre /dogs/names.json
          %h3 Breeds
          %p You can access the NSW Companion Animal Register to find the most popular dog and cat breeds in the state of New South Wales, over the past 10 years.
          %h4 Example: A count of all purebred dogs in NSW
          %pre /dogs/breeds.json
          